.post-information-header {
    padding: 0 3% 15% 3%;
}

.post-information-body {
    padding-right: 3%;
    padding-left: 3%;
}

.post-information-close-button {
    padding-top: 32px;
    text-align: center;
}